/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Styling for individual components */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

/* Additional styling based on component structure */
.PlayerConnectionStatus p {
  font-weight: bold;
}

.PlayerTurnMessage p {
  font-weight: bold;
  color: #4caf50;
}

.CurrentWord {
  padding-top: 200px;
}
.Scoring {  
  padding-left: 100px;
}
.TurnTimer p {
  font-weight: bold;
}

.GameStatus h2,
.Scoring h2,
.WordListSelection h2 {
  margin-top: 20px;
}

.GameStatus p,
.WordListSelection p {
  font-weight: bold;
  color: #4caf50;
}

.GameStatus p {
  margin-bottom: 20px;
}

.WordListSelection ul {
  display: flex;
  flex-wrap: wrap;
}

.WordListSelection li {
  background-color: #4caf50;
  color: #fff;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.WordListSelection li:hover {
  background-color: #45a049;
}

.DrawingBoard {
  margin-top: 20px;
}

.GameOver h2 {
  color: #e74c3c;
}

.RestartGame button {
  background-color: #3498db;
}

.RestartGame button:hover {
  background-color: #2980b9;
}
